/* Palette:
  Black: #201E1F
  Orange: #FF4000
  White: #FEEFDD
  Blue: #50B2C0
*/

/*********GLOBAL*********/

html {
  height: 100%;
}

body {
  font-family: 'Syne', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 auto;
  position: relative;
}

header,
footer {
  background-color: #201E1F;
  color: #FF4000;
  padding: .5em 0;
}

footer {
  margin-top: auto;
  position: relative;
}

h1 {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 4.5rem;
  margin: .35em 0;
}

h2 {
  font-size: 2.15rem;
}

h3 {
  font-size: 1.75rem;
  margin: .25em .15em;
}

p,
label {
  font-size: 1.35em;
}

h1,
h2,
h3,
p,
footer {
  text-align: center;
  position:relative;
}

a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}


/********HOME PAGE*********/
#postal-code {
  padding: .5em;
  font-size:1.35em;
  max-width: 7em;
}

#home-page-img-cycler {
  margin: 0 auto;
  width:100%;
  position:relative;
  height:50vh;
}

@-moz-document url-prefix() {
  #home-page-img-cycler {
    height:52vh;
  }
}

.home-page-img {
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  position:absolute;
  bottom: 2%;
  left:5%;
  z-index: 1;
}

.home-page-img.active {
  z-index: 3;
}

/* HOME IMAGE LANDSCAPE HEIGHT FIX */
@media all and (min-height: 200px) and (max-height:500px) {
  #home-page-img-cycler {
    height: 58vh;
  }

  .home-page-img {
    max-height: 200px;
    left: 20%;
  }
}

/*********FORMS*********/
.user-submission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]+img {
  cursor: pointer;
}

[type=radio]:checked+img {
  outline: 3px solid #50B2C0;
}

.modal {
  width: 100%;
  padding: 15px 15px;
  max-width: 850px;
}

#hair-article {
  height: 500px;
  width: 100%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.btn {
  padding: .75em 1.25em;
  border-radius: 10px;
  display: inline-block;
  background-color: #50B2C0;
  color: #201E1F;
  margin: 1em;
  cursor: pointer;
  font-size: 1.3em;
}

button.btn {
  display: block;
  margin: 0 auto 2em auto;
}

a.btn {
  display: block;
  max-width: 250px;
  margin: .67em auto;
  text-align: center;
  box-sizing: border-box;
  border-width: 2px;
  border-style: outset;
  border-color: rgb(195, 195, 195);
}

.btn:hover {
  background-color: #387c86;
  color: #FEEFDD;
}

button.btn-reset {
  background-color: #FF4000;
  font-size: 1.2em;
  margin: .65em auto;
}

.btn-reset:hover {
  background-color: #ad2d03;
  color: #FEEFDD;
}

input.btn {
  max-height: 4em;
}

.hair-type-img {
  max-height: 200px;
  padding: 0 1em;
}

.hair-length-img {
  width: 100%;
  height: 100%;
  margin: .5em 0;
  box-shadow: 5px 5px #50B2C0;
}


/*********VIDEOS*********/
.video-display {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.video-display iframe {
  margin: .65em 0;
  box-shadow: 5px 5px #FF4000;
}


/*********FINAL RESULTS PAGE*********/
.final-results {
  text-align: center;
}

.weather-results {
  font-size: 1.25em;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .65em 0;
}

.weather-results:first-of-type {
  margin: 0;
}


/*********TABLET/LANDSCAPE STYLES*********/
@media all and (min-width: 600px) and (min-height:501px) {

  #home-page-img-cycler {
    height:52vh; 
  }

  @-moz-document url-prefix() {
    .home-page-img {
      max-height:350px;
    }
  }

  .home-page-img {
    left: 20%;
  }

  .hair-length-img {
    max-width:500px;
    max-height:500px;
    display: block;
    margin: .65em auto;
  }
}


/*********DESKTOP STYLES**********/
@media all and (min-width:992px) {
  #home-page-img-cycler {
    min-height:58vh;
  }

  .home-page-img {
    right: 25%;
    max-width: 350px;
  }

  .btn {
    margin-left: .5em;
  }

  .hair-type-img {
    max-height: 350px;
    padding: 0 1em;
  }

  .hair-length-img {
    width: 275px;
    height: 275px;
    margin: .6em;
  }

  .video-display {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .video-display iframe {
    height: 325px;
    width: 45%;
    margin: .65em;
  }
}


/*********WIDER SCREENS*********/
@media all and (min-width:1400px) {
  #home-page-img-cycler {
    min-height:50vh;
  }

  .home-page-img {
    max-width:400px;
  }
}